.articles-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.article:hover {
  transform: scale(1.01);
}

.article-title {
  margin-top: 10px;
}

.article-link:focus {
  outline: 0;
}

.article-author,
.article-topic {
  color: black;
  margin: 0;
}

.article-date {
  color: black;
}

.post-article-button {
  margin-top: 10px;
  text-align: center;
}

.icons {
  color: black;
  display: inline;
  margin-right: 10px;
}

.article-buttons {
  display: flex;
}
