.title {
  margin-bottom: 20px;
}

.top-header {
  height: 75px;
}

.header {
  display: flex;
  position: relative;
}

.logo {
  width: 130px !important;
  height: auto;
}

.logged-in-user {
  font-size: 10px;
  position: absolute;
  top: 55px;
  left: 130px;
}

.logout {
  cursor: pointer;
  color: #4183c4;
}

.link {
  margin-right: 20px;
}

.link:focus {
  outline: 0;
}

@media only screen and (max-width: 340px) {
  .link {
    margin-right: 10px;
  }
}
