.header {
  position: relative;
}

.logged-in-user {
  font-size: 10px;
  position: absolute;
  bottom: 15px;
  left: 0px;
}

.logout {
  cursor: pointer;
  color: #4183c4;
}

.link {
  margin-right: 20px;
}

.link:focus {
  outline: 0;
}
